{% extends "main_template.html" %}

{% block title %}
GoodReads Premium - Page Not Found
{% endblock %}

{% block body %}
<div class="container" id="index-container">
	<div class="row d-flex justify-content-center">
		<div class="col-xl-12">
			<h1 id="index-heading" style="font-weight: 800; font-size: 60px; margin-top: 17vh">OOPSIE DAISY,</br>
				<a style="font-weight: 400">COULDN'T FIND YOUR PAGE</a></h1>
			<p style="font-family: 'Cabin', sans-serif; font-size: 23px; margin-top: 30px;">
				We apologize for any inconvinience we brought to you. Maybe the programmers are sleeping now? </br>
				Please go back to the front page, and continue searching in our book database.
			</p>

			<p style="font-family: 'Courier New', Courier, monospace; font-size: 17px; margin-top: 10px; margin-bottom: 20vh; font-weight: 700;">
				ERROR CODE: 404 PAGE NOT FOUND
			</p>
		</div>
	</div>
</div>
{% endblock %}